<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style>
      * { font-size: 1.1rem; }
      table { border:solid 0.05rem black; padding: 0.5em; background-color: #ddd; }
      td { padding: 0.5rem; border: solid 0.05rem lightgray; background-color: #f6f6f6; }
      caption { padding: 0.5em; }
    </style>
  </head>
  <body>
    <table>
<caption><%= config.zone %></caption>
<% for(var i in config.devices) {
     var device = config.devices[i];
 %>
  <tr> 
  <td><%= device.name %></td>
  <td><a href="#" onclick="turnOn(<%= device.options.pin %>);">on</a></td>
  <td><a href="#" onclick="turnOff(<%= device.options.pin %>);">off</a></td>
  </tr>
<% } %>
    </table>
  </body>

  <script>
    function turnOn(pin) {
      $.get("/switch/" + pin + "/on");
    }

    function turnOff(pin) { 
      $.get("/switch/" + pin + "/off");
    }
  </script>
</html>
